@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
  background: rgba(0, 0, 0, 0.945);
}
/* default codes */
* {
  margin: 0;
  padding: 0;
}
.all-h1{
  color: white;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 10px;
}
.all-p{
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  font-weight: 400;
}
  
/* navbar styles */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}
.nav-title {
  color: rgb(230, 83, 60);
  font-size: 2.3rem;
  font-weight: 800;
  margin-left: -70px;
}
.navbar-info {
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  gap: 60px;
  font-size: 1.1rem;
  font-weight: 400;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
}
.home {
  width: 70px;
  height: 25px;
  text-align: center;
  border-radius: 50px;
  font-weight: 600;
  background: rgb(230, 83, 60);
}
.ham-burger {
  display: none;
}


.banner-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
}
.banner-content {
  color: white;
}
.banner-content h1 {
  color: rgb(255, 255, 255);
  font-size: 5rem;
  font-weight: 900;
  margin-bottom: 30px;
}
.banner-content p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
}
#shape {
  font-family: "Brush Script MT", cursive;
  font-weight: 100;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 30px;
}
.btn-1 {
  font-size: 1.1rem;
  border-radius: 50px;
  padding: 10px;
  margin-left: -50px;
  border: none;
  background-color: rgb(230, 83, 60);
  color: white;
  font-weight: 500;
}
.btn-2 {
  font-size: 1.1rem;
  border-radius: 50px;
  padding: 10px;
  border: 1px solid white;
  background-color: black;
  color: white;
  font-weight: 500;
}
.trainer-image {
  position: relative;
}
.img-icon{
    width: 170px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 5px;
    position: absolute;
    color: white;
    top: 430px;
    right: 200px;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.color-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: orangered;
    border-radius: 50%;
}
.tutorial > p{
    color: rgba(239, 237, 232, 0.65);
    font-size: 0.8rem;
    font-weight: 400;
}
.workout > p{
    color: rgba(239, 237, 232, 0.65);
    font-size: 0.8rem;
    font-weight: 400;
}
.workout {
    width: 150px;
    gap: 20px;
    padding: 20px 10px;
    position: absolute;
    color: white;
    top: 150px;
    right: -20px;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.1);
}

/* habits styles  */
.habits{
  color: white;
  text-align: center;
  margin-top: 40px;
}
.habits > h1{
  font-size: 3rem;
}
.habits > p{
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: 10px;
  line-height: 1.6rem;
}
.habits-images{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

}
.img-1{
  width: 272px;
  height: 180px;
}
.img-1 > img{
  border: 1px solid white;
  border-radius: 50%;
  margin-left: 45px;
}
.text-style{
  color: white;
  text-align: center;
  margin-top: 10px;
}
.text-style > p{
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: 10px;
  line-height: 1rem;
} 
/* running styles */
.run{
  width: 90%;
  margin: 0 auto;
  border-radius: 18px;
  background: rgb(34, 34, 34);
  margin-top: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
  padding: 30px;
}

.run-content > h1{
  color: white;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 30px;
}
.run-content > p{
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 50px; 
  line-height: 1.6rem; 
}
.run-img{
  width: 100%;
  height: auto;
  border-radius: 18px;
}
.btn-3{
  margin-left: 5px;
  width: 230px;
  height: 50px;
  font-size: 1.2rem;
  font-weight: 600;
}
/* BMI Calculator styles */
.bmi{
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.bmi-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(101, 184, 171);
}
.bmi-content > h1{
  color: black;
  font-size: 2rem;
  margin-top: 50px;
  margin-bottom: 50px;
}
.chart-table{
  width: 115%;
}
.table-content{
  width: 100%;
  border-collapse: collapse;
  color: black;
  text-align: left;
}
table, tr, th{
  border: 1px solid black;
  padding: 15px;
  margin-bottom: 70px;
}
td{
  color: black;
  border: 1px solid black;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 20px;
}
.calculate-bmi{
  width: 50%;
}
.calculate-bmi >h1{
  font-size: 2rem;
  color: black;
  margin-bottom: 30px;
  margin-top: -15px;
  
}
.calculate-bmi >p{
  color: black;
  margin-bottom: 30px;
}
.option{
  height: 200%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px;
}
.option-description{
  height: 200%;
  border-radius: 8px;
  border: 1px solid black;
  background-color:bisque;
  padding: 2.5px;
}
#factor{
  width: 100%;
  border-radius: 8px;
  border: 1px solid black;
  background-color:bisque;
  padding: 20px;
  margin-top: 37px;
}
.btn-4{
  width: 50%;
  margin-top: 30px;
  margin-left: 2px;;
}
/* customize styles */
.our-product{
  margin-top: 50px;
  text-align: center;
}
.products{
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  margin-top: 50px;
}
.card{
  max-width: 85%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-top: 20px;
  margin-left: 25px;
  margin-bottom: 20px;
}
.btn-5 {
  border: none;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 1.1rem;
}
.btn-5:hover {
  opacity: 0.7;
}
/* Member section style starts form here */
.member{
  margin-top: 50px;
  text-align: center;
  margin-bottom: 50px;
}
.member-container{
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
}
.member-content > img{
  height: 300px;
  width: 300px;
}
.trainer{
  max-width: 85%;
  margin-top: 20px;
  margin-left: 25px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.overlay-text{
  position: absolute;
}
.overlay-text > h1{
  position: relative;
  margin-top: -80px;
  margin-left: 40px;
}
.overlay-text > p{
  margin-left: 40px;
}
/* footer section styles */
.footer-container{
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-top: 50px;
}
.fit{
  margin-top: 50px;
  margin-left: 2px;
  margin-bottom: 30PX;
  font-size: 4rem;
}
.footer-content-1 >p{
  line-height: 25px;
  margin-bottom: 50px;
  font-size: 0.8rem;
}
.footer-content-2{
  margin-right: 80px;
}
.footer-content-3{
  margin-right: 80px;
}
.footer-content-2 > h1{
  color: white;
  font-size: 2rem;
  margin-top: 50px;
  margin-bottom: 30px;
}
.footer-content-3 > h1{
  color: white;
  font-size: 2rem;
  margin-top: 50px;
  margin-bottom: 30px;
}
.footer-content-2 > p{
  line-height: 40px;
  font-size: 1rem;
}
.footer-content-3 > p{
  line-height: 40px;
  font-size: 1rem;
}
hr{
  width: 80%;
  margin: 0 auto;
  margin-left: 110px;
  margin-bottom: 40px;
  background-color: rgba(255, 255, 255, 0.1);
}





/* responsive styles */
@media screen and (max-width: 576px) {
  .navbar {
    flex-direction: column;
  }
  .navbar-info {
    display: none;
  }
  .nav-title {
    margin-left: -200px;
  }
  .ham-burger {
    display: block;
    color: white;
    font-size: 2rem;
    margin-top: -40px;
    margin-left: 350px;
  }
  .banner-container{
    margin-top: 30px;
    margin-left: 20px;
    flex-direction: column;
  }
  .navbar{
    padding: 0px 20px;
  }
  .banner-content > h1{
    font-size: 3rem;
  }
  .workout{
    top:  60px;
  }
  .habits > h1{
    font-size: 2rem;
  }
  .habits-images{
    flex-direction: column;
  }
  .img-1{
    margin: 60px;
  }
  .run{
    width: 80%;
    flex-direction: column;
  }
  .btn-3{
    width: 100%;
  }
  .run-img{
    margin-top: -60px;
  }
  .bmi-container{
    flex-direction: column;
  }
  .chart-table{
    width: 100%;
  }
  .calculate-bmi{
    width: 95%;
  }
  .btn-4{
    margin-bottom: 30px;
  }
  .products{
    grid-template-columns: repeat(1, 1fr);
  }
  .member-container{
    grid-template-columns: repeat(1, 1fr);
  }
  
}
